/*********************************************************************
CSCI 4750
Group 3 Codist Technologies
Team Members: Matthew Doerr, Alexander Hornick, Mikayla Webber, Tiasha
Gray-Ramey 
Includes: This style sheet contains the css for the login page and red
and blue buttons.
*********************************************************************/
body {
  /******************************************************************
  This contains the font, Internet Explorer fall back options and 
  the background color for all of the sites
  ******************************************************************/
  background: #C3E6F3 no-repeat center center fixed;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
  /* IE Fallback */
  background: #c3e6f4;
  width: 100%;
  height: 100%;
}
  /******************************************************************
  Below is the login page class information.
  ******************************************************************/
.loginPage {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 285px;
  margin: -140px 0 0 -182px;
  padding: 40px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding-bottom: 3px;
}

.loginPage h2 {
  margin: 0 0 20px;
  line-height: 1;
  color: #0088BA;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.loginPage input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  color: #ccc;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.loginPage input:focus {
  color: #333;
  border: 1px solid #0088BA;
}

.loginPage button {
  cursor: pointer;
  background: #0088BA;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

.loginPage button:hover {
  background: #369cb8;
}
  /******************************************************************
  Below is the button information for the login page. It is a submit
  button that has movement, color changes, and alignment changes.
  ******************************************************************/
.button {
  border-radius: 4px;
  background-color: #0088BA;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/******************************************************************
Below is the code for the red and blue button class which will be 
for all of the buttons in the program including the submit, next,
cancel, etc. 
******************************************************************/
.blueButton {
  -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
  -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background-color: #0088BB;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #0088BB;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.blueButton:hover {
  background-color: #369cb8;
}

.blueButton:active {
  position: relative;
  top: 1px;
}

.redButton {
  -moz-box-shadow: inset 0px -3px 7px 0px #8a2a21;
  -webkit-box-shadow: inset 0px -3px 7px 0px #8a2a21;
  box-shadow: inset 0px -3px 7px 0px #8a2a21;
  background-color: #c62d1f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.redButton:hover {
  background-color: #f24437;
}

.redButton:active {
  position: relative;
  top: 1px;
}